@import url('https://fonts.googleapis.com/css2?family=Stint+Ultra+Expanded&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  .stint-ultra expanded-regular {
    font-family: "Stint Ultra Expanded", serif;
    font-weight: 400;
    font-style: normal;

    /* background: url(/public/Assets/airplane-p4.jpeg) no-repeat;
    background-size: cover;
    background-position: center; */
  }
  display: flex;
  align-items: center;
  min-height: 100vh;
  background: url(/public/Assets/Airplanept2.jpg) no-repeat;
  background-size: cover;
  background-position: center;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
